In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel('Tables/14. Ongoing promos and placement by retailer USC CONFIDENTIAL.xlsx', sheet_name = 'In store placement and promo', header = 1)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119990 entries, 0 to 119989
Data columns (total 45 columns):
 #   Column                                               Non-Null Count   Dtype
---  ------                                               --------------   -----
 0   Geography                                            119990 non-null  object
 1   Product                                              119990 non-null  object
 2   Platform                                             119990 non-null  object
 3   WK Start                                             119990 non-null  datetime64[ns]
 4   Wk End                                               119990 non-null  datetime64[ns]
 5   Holiday                                              5953 non-null    object
 6   Chicken Program/Meal Deal                            100505 non-null  object
 7   Secondary Deli                                       102103 non-null  object
 8   Secondary Bakery                                     101632 non-null  object
 9   Secondary Center store                               98393 non-null   object
 10  Retail Coverage                                      119406 non-null  object
 11  Volume Sales                                         119990 non-null  float64
 12  Volume Sales Any Merch                               101573 non-null  float64
 13  Volume Sales Any Price Reduction                     80538 non-null   float64
 14  Volume Sales Any Feature                             7632 non-null    float64
 15  Volume Sales Any Display                             90479 non-null   float64
 16  Dollar Sales                                         119990 non-null  float64
 17  Dollar Sales Any Merch                               101573 non-null  float64
 18  Dollar Sales Any Price Reduction                     80538 non-null   float64
 19  Dollar Sales Any Feature                             7632 non-null    float64
 20  Dollar Sales Any Display                             90479 non-null   float64
 21  Unit Sales                                           119990 non-null  float64
 22  Unit Sales Any Merch                                 101573 non-null  float64
 23  Unit Sales Any Price Reduction                       80538 non-null   float64
 24  Unit Sales Any Feature                               7632 non-null    float64
 25  Unit Sales Any Display                               90479 non-null   float64
 26  Volume per $MM ACV                                   119990 non-null  float64
 27  Volume per $MM ACV Any Merch                         101573 non-null  float64
 28  Volume per $MM ACV Any Feature                       7632 non-null    float64
 29  Volume per $MM ACV Any Display                       90479 non-null   float64
 30  Volume per Store Selling                             119990 non-null  float64
 31  Volume per Store Selling Any Merch                   0 non-null       float64
 32  Volume per Store Selling Any Price Reduction         0 non-null       float64
 33  Volume per Store Selling Any Feature                 0 non-null       float64
 34  Volume per Store Selling Any Display                 0 non-null       float64
 35  Price per Unit                                       119990 non-null  float64
 36  Price per Unit Any Merch                             101573 non-null  float64
 37  Price per Unit Any Price Reduction                   80538 non-null   float64
 38  Price per Unit Any Feature                           7632 non-null    float64
 39  Price per Unit Any Display                           90479 non-null   float64
 40  Average Weekly ACV Distribution                      119990 non-null  float64
 41  Average Weekly ACV Distribution Any Merch            101573 non-null  float64
 42  Average Weekly ACV Distribution Any Price Reduction  80538 non-null   float64
 43  Average Weekly ACV Distribution Any Feature          7632 non-null    float64
 44  Average Weekly ACV Distribution Any Display          90479 non-null   float64
dtypes: datetime64[ns](2), float64(34), object(9)
memory usage: 41.2+ MB

In [7]:

data['Chicken Program/Meal Deal'] = data['Chicken Program/Meal Deal'].replace({'No': 0, 'Yes': 1})
data['Secondary Deli'] = data['Secondary Deli'].replace({'No': 0, 'Yes': 1})
data['Secondary Bakery'] = data['Secondary Bakery'].replace({'No': 0, 'Yes': 1})
data['Secondary Center store'] = data['Secondary Center store'].replace({'No': 0, 'Yes': 1})
data['Retail Coverage'] = data['Retail Coverage'].replace({'No': 0, 'Yes ': 1})

In [9]:
data[['Chicken Program/Meal Deal', 'Secondary Deli', 'Secondary Bakery',
       'Secondary Center store', 'Retail Coverage']].tail()

,Chicken Program/Meal Deal,Secondary Deli,Secondary Bakery,Secondary Center store,Retail Coverage
119985,NaN,NaN,NaN,NaN,1.0
119986,NaN,NaN,NaN,NaN,1.0
119987,NaN,NaN,NaN,NaN,1.0
119988,NaN,NaN,NaN,NaN,1.0
119989,NaN,NaN,NaN,NaN,1.0

In [10]:
data = data.fillna(0)

In [12]:
data.Holiday.unique()

array([0, 'SuperBowl ', 'Easter Week ', 'Memorial Week ', 'July 4th ',
       'Back to School ', 'Labor Day ', 'Halloween ', 'Thanksgiving ',
       'Christmas', 'Christmas/NY', 'Easter Weeks'], dtype=object)

In [13]:
holiday_dummy = pd.get_dummies(data['Holiday'], prefix='Holiday').iloc[:, 1:]
holiday_dummy

,Holiday_Back to School,Holiday_Christmas,Holiday_Christmas/NY,Holiday_Easter Week,Holiday_Easter Weeks,Holiday_Halloween,Holiday_July 4th,Holiday_Labor Day,Holiday_Memorial Week,Holiday_SuperBowl,Holiday_Thanksgiving
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
119985,0,0,0,0,0,0,0,0,0,0,0
119986,0,0,0,0,0,0,0,0,0,0,0
119987,0,0,0,0,0,0,0,0,0,0,0
119988,0,0,0,0,0,0,0,0,0,0,0
119989,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
In [1108]: df_out = pd.concat([df1, df2], axis=1)

In [1109]: df_out.columns = list(range(len(df_out.columns)))

In [15]:
data = pd.concat([data, holiday_dummy], axis = 1)
data

,Geography,Product,Platform,WK Start,Wk End,Holiday,Chicken Program/Meal Deal,Secondary Deli,Secondary Bakery,Secondary Center store,...,Holiday_Christmas,Holiday_Christmas/NY,Holiday_Easter Week,Holiday_Easter Weeks,Holiday_Halloween,Holiday_July 4th,Holiday_Labor Day,Holiday_Memorial Week,Holiday_SuperBowl,Holiday_Thanksgiving
0,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-01,2018-01-07,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-08,2018-01-14,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-15,2018-01-21,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-22,2018-01-28,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-29,2018-02-04,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119985,KR Smiths Corp,KH 12 CT Butter,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119986,KR Smiths Corp,KH 24 CT Original,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119987,KR Smiths Corp,KH Mini Subs,Sandwich,2020-06-29,2020-07-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119988,KR Smiths Corp,KH 24 CT Butter,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119989,KR Smiths Corp,KH Slider Buns,Sandwich,2020-06-29,2020-07-05,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data.drop(['Holiday'], axis = 1)

,Geography,Product,Platform,WK Start,Wk End,Chicken Program/Meal Deal,Secondary Deli,Secondary Bakery,Secondary Center store,Retail Coverage,...,Holiday_Christmas,Holiday_Christmas/NY,Holiday_Easter Week,Holiday_Easter Weeks,Holiday_Halloween,Holiday_July 4th,Holiday_Labor Day,Holiday_Memorial Week,Holiday_SuperBowl,Holiday_Thanksgiving
0,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-01,2018-01-07,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-08,2018-01-14,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-15,2018-01-21,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-22,2018-01-28,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,DeCA Total CONUS-RMA - Military,KH Hamburger Buns,Sandwich,2018-01-29,2018-02-04,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119985,KR Smiths Corp,KH 12 CT Butter,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
119986,KR Smiths Corp,KH 24 CT Original,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
119987,KR Smiths Corp,KH Mini Subs,Sandwich,2020-06-29,2020-07-05,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
119988,KR Smiths Corp,KH 24 CT Butter,Dinner Rolls,2020-06-29,2020-07-05,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0
119989,KR Smiths Corp,KH Slider Buns,Sandwich,2020-06-29,2020-07-05,0,0,0,0,1.0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
data.to_csv('14. Ongoing_promos_placement_by_retailer Cleaned.csv')